
    <div class="row border p-3 mt-3">
      <h1>Specify files to compare</h1>
      <div class="row p-1">
        <div class="col-3">
          Select file 1
        </div>
        <div class="col-3">
          <input type="file" (change)="selectFile01($event)">
        </div>
        <div class="col-3">
  
        </div>
        <div class="col-3">
  
        </div>
      </div>
      <div class="row p-1">
        <div class="col-3">
          Select file 2
        </div>
        <div class="col-3">
          <input type="file" (change)="selectFile02($event)">
        </div>
        <div class="col-3">
  
        </div>
        <div class="col-3">
          <button class="btn btn-primary" type="button" (click)="onUpload()">Compare</button>
        </div>
      </div>
    </div>
    <div class="row border p-3 mt-3" *ngIf="showReports">
      <h1>Comparison Results</h1>
      <div class="col-6" *ngFor="let result of matchingReport.results">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{result?.filename}}</h5>
            <p class="card-text">totalRecords: {{result?.totalRecords}}</p>
            <p class="card-text">Matching Records: {{result?.matchingRecords}}</p>
            <p class="card-text">Unmatched Records: {{result?.unmatchedRecords}}</p>
          </div>
        </div>
      </div>
      <div class="row">
  
        <div class="col-2 offset-5 mt-2">
          <button class="btn btn-primary" type="button" (click)="showResults()" *ngIf="showReports">Unmatched
            Report</button>
        </div>
      </div>
  
  
    </div>
    <div>
      <div class="row" *ngIf="showTable">
        <table class="table table-striped table-responsive">
          <thead>
            <tr>
              <th scope="col">{{matchingReport.results[0].filename}}</th>
              <th scope="col"></th>
              <th scope="col"></th>
  
              <th scope="col">{{matchingReport.results[1].filename}}</th>
              <th scope="col"></th>
              <th scope="col"></th>
  
            </tr>
          </thead>
          <thead>
            <tr>
              <th scope="col">Date</th>
              <th scope="col">Reference</th>
              <th scope="col">Amount</th>
              <th scope="col">Date</th>
              <th scope="col">Reference</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of matchingReport.unmatchedReports">
  
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">
                {{item.leftReport.date | date: 'medium'}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">
                {{item.rightReport.date | date: 'medium'}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">{{item.leftReport.reference}}
              </td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">{{item.rightReport.reference}}
              </td>
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">{{item.leftReport.amount}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">{{item.rightReport.amount}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">
                {{item.rightReport.date | date: 'medium'}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">
                {{item.leftReport.date | date: 'medium'}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">{{item.rightReport.reference}}
              </td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">{{item.leftReport.reference}}
              </td>
              <td *ngIf="matchingReport.results[0].filename == item.leftReport.filename">{{item.rightReport.amount}}</td>
              <td *ngIf="matchingReport.results[0].filename == item.rightReport.filename">{{item.leftReport.amount}}</td>
  
            </tr>
          </tbody>
        </table>
      </div>
    </div>

  
